html,
body {
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  overflow: hidden;
}

button{
  border: none;
}

button:hover{
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  cursor: pointer;
}

body {
  display: grid;
  grid-template-columns: 300px 1fr 1fr 1fr; /* Initially show the aside */
  grid-template-rows: 0fr 3fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

header {
  grid-area: 1 / 1 / 2 / 5;
  background-color: #355289;
  padding: 1vh;
  padding-left: 2vh;
  letter-spacing: 0.3ch;
}

nav {
  display: flex;
  align-items: center;
  color: #ffffff;
}

nav .menu {
  color: #ffffff;
  border: none;
  font-size: 1.4rem;
  background-color: transparent;
}

nav .menu:hover {
  transform: scale(1.1);
  background-color: #355289;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

h1 {
  font-weight: bold;
  font-size: 1.7rem;
  padding: 1vh;
}

aside {
  grid-area: 2 / 1 / 5 / 2;
  background-color: #f7f7f7;
  padding: 2vh;
}

.chat-container {
  position: relative;
  grid-area: 2 / 2 / 5 / 5;
  background-color: #ffffff;
  padding: 1.5vh;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 100%;
}


.message {
  border-radius: 3vh;
  -webkit-border-radius: 3vh;
  -moz-border-radius: 3vh;
  -ms-border-radius: 3vh;
  -o-border-radius: 3vh;
  margin-bottom: 1vh;
  margin-top: 1vh;
  color: #eeeded;
  font-size: 1.1rem;
}

.user-question {
  padding: 2vh;
  font-size: 0.9rem;
  background-color: #45474B;
  
}

.bot-response {
  padding: 3vh;
  font-size: 1rem;
  background-color: #254760;
}

.bot-response .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bot-response .header .copy {
  text-align: right;
}

.copy .clipboard {
  cursor: pointer;
  background-color: transparent !important;
  border: none;
  font-size: large;
}

.copy .clipboard:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.bot-response .info {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.4rem;
  animation: talking 2s linear;
  -webkit-animation: talking 2s linear;
}

.bot-response .info .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #76bc20;
  background-color: #fff;
  object-fit: cover;
}

@keyframes talking {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(
      1.05
    ); /* Simulate the talking effect by scaling the avatar */
  }
}

.bot-response .info p {
  font-weight: 700;
}

.message {
  height: auto;
  word-wrap: break-word;
}

.message p {
  white-space: wrap;
  overflow: hidden;
  font-family: monospace;
  animation: typing 1s steps(40, end), blink-caret 0.75s step-end infinite;
  -webkit-animation: typing 1s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #000; /* Change the cursor color */
  }
}

.chat-container .actions {
  z-index: 999;
  position: sticky;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  justify-content: space-evenly;
  bottom: 1 !important;
  padding: 3vh;
  padding-top: 0.5vh;
  padding-bottom: 0;
  min-height: 2vh;
}

.actions .user_input_form {
  border: #f7f7f7 1px solid;
  display: flex;
  justify-content: space-between;
  border-radius: 1vh;
  -webkit-border-radius: 1vh;
  -moz-border-radius: 1vh;
  -ms-border-radius: 1vh;
  -o-border-radius: 1vh;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.actions .user_input_form input {
  color: #45474B;
  background-color: transparent !important;
  border: none;
  font-size: 1rem;
  padding: 1vh;
  width: 100%;
}

#user_input::placeholder {
  color: #45474B;
  opacity: 0.5;
}

.user_input_form input:focus {
  outline: none;
  border: none;
}
.user_input_form button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 1vh;
  font-size: 1rem;
  color: #45474B;
}

.chat {
  width: 100%;
  max-height: 75vh;
  overflow-y: scroll;
}

.toolbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toolbar .new-chat {
  width: 70%;
  height: 4vh;
  background-color: #45474B;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: #f4f4f4;
  border: none;
}

.toolbar .new-chat:hover {
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
}

.history {
  margin: 1vh;
  margin-top: 2vh;
}

.history .date {
  color: #45474B;
  margin-left: 1vh;
}

.history .conversations {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 1vh;
  gap: 3vh;
}

.history .conversations-bydate{
  margin-top: 5vh;
}
.history .conversations .conversation {
  background-color: transparent;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1vh;
  width: 100%;
  height: 5vh;
  font-size: 1rem;
  color: #45474B;
  border-radius: 25vh;
  -webkit-border-radius: 25vh;
  -moz-border-radius: 25vh;
  -ms-border-radius: 25vh;
  -o-border-radius: 25vh;
}

.conversations .current {
  background-color: #66bfbf !important;
  color: #ffffff !important;
}

/* Initially show the aside */
body.show-aside {
  display: grid;
  grid-template-columns: 300px 1fr 1fr 1fr; /* Initially show the aside */
}

body.hide-aside {
  display: grid;
  grid-template-columns: 0px 1fr 1fr 1fr; /* Hide the aside */
}

.url {
  color: rgb(178, 178, 255);
  text-decoration: underline;
}

.topics{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  padding: 0;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin: 0;
  max-width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: transparent;
}

.topic{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  width: 90%;
  font-weight: 100;
  background-color: #8E8FFA;
  color: #F9F9F9;
  border-radius: 5vh;
  margin: 0.5vh;
  -webkit-border-radius: 5vh;
  -moz-border-radius: 5vh;
  -ms-border-radius: 5vh;
  -o-border-radius: 5vh;
}


.responding {
  margin: 0 auto;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 50%;
  color: #ffffff;
  background-color: #374259;
  padding: 0.5vh;
  margin-top: 1vh;
  text-align: center;
  border-radius: 10vh;
  font-size: 1rem;
  animation: blinker 1s linear infinite;
  -webkit-animation: blinker 1s linear infinite;
  z-index: 1;
  -webkit-border-radius: 10vh;
  -moz-border-radius: 10vh;
  -ms-border-radius: 10vh;
  -o-border-radius: 10vh;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}


.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #355289;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
